<!doctype html>
<head>
    <title>{{ sender }} wartet auf dich!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<div class="frame">
    <h1 class="heading">
        Hallo {{ receiver }} :)
    </h1>
    <div class="text">
        {{ sender }} wartet seit
    </div>
    <div class="time">
        {% if duration_d == 1 %}
            1 Tag,
        {% elif duration_d > 1 %}
            {{ duration_d }} Tagen,
        {% endif %}
        {{ duration_h }}
        {% if duration_h == 1 %}
             Stunde
        {% elif duration_h > 1 %}
             Stunden
        {% endif %}
         und {{ duration_m }}
        {% if duration_m == 1 %}
             Minute.
        {% elif duration_m > 1 %}
             Minuten.
        {% endif %}
    </div>
    <div class="text">
        auf eine Antwort von dir.
    </div>
</div>

