<!doctype html>
<head>
    <title>{{ sender }} wartet auf dich!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<div class="frame">
    <h1 class="heading">
        Hallo {{ receiver }} :)
    </h1>
    <div class="text">
        {{ sender }} wartet seit
    </div>
    <div class="time">
        {{ duration_d }} Tagen, {{ duration_h }} Stunden und {{ duration_m }} Minuten
    </div>
    <div class="text">
        auf eine Antwort von dir.
    </div>
</div>

